In [15]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("./dataset.csv")
print(df.head)

<bound method NDFrame.head of        Prov Con_ACT  Sex    Age   Measure   M0   M1   M2   M3   M4  ...  M30  \
0       NaN     NaN  NaN    NaN       NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1        AB     ALL  ALL  18-19        Tx  2.0  2.0  2.0  2.0  2.0  ...  NaN
2        AB     ALL  ALL  18-19    events  NaN  NaN  NaN  NaN  NaN  ...  NaN
3        AB     ALL  ALL  18-19  censored  NaN  NaN  NaN  NaN  NaN  ...  NaN
4        AB     ALL  ALL  25-29        Tx  3.0  3.0  3.0  3.0  2.0  ...  0.0
...     ...     ...  ...    ...       ...  ...  ...  ...  ...  ...  ...  ...
2375  UNKWN     Yes    F  50-54    events  NaN  NaN  NaN  NaN  NaN  ...  NaN
2376  UNKWN     Yes    F  50-54  censored  NaN  NaN  NaN  1.0  1.0  ...  NaN
2377  UNKWN     Yes    F    ALL        Tx  2.0  2.0  2.0  1.0  0.0  ...  NaN
2378  UNKWN     Yes    F    ALL    events  NaN  NaN  NaN  NaN  NaN  ...  NaN
2379  UNKWN     Yes    F    ALL  censored  NaN  NaN  NaN  1.0  1.0  ...  NaN

      M31  M32  M33  M34  M35  M36  M37  M38  M39
0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...
2375  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2376  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2377  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2378  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2379  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[2380 rows x 45 columns]>

In [17]:
df.describe()

,M0,M1,M2,M3,M4,M5,M6,M7,M8,M9,...,M30,M31,M32,M33,M34,M35,M36,M37,M38,M39
count,793.000000,1428.000000,1192.000000,1226.000000,1288.000000,1153.000000,1090.000000,1099.000000,1080.000000,1115.000000,...,412.000000,370.000000,335.000000,334.000000,291.000000,319.000000,281.000000,243.000000,252.000000,154.000000
mean,29.074401,16.145658,17.127517,15.712887,14.024845,14.320902,14.165138,13.175614,12.311111,11.020628,...,3.067961,2.897297,2.817910,2.538922,2.474227,2.006270,1.651246,1.382716,0.888889,0.415584
std,91.826944,61.712627,63.265826,58.709961,52.605990,51.779407,49.921005,45.508032,42.366614,38.372109,...,5.827633,5.354151,5.033984,4.281041,4.032008,2.935356,2.194003,1.565917,1.161962,0.568237
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
50%,6.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,19.000000,9.000000,9.000000,8.000000,8.000000,8.000000,8.000000,8.000000,7.000000,6.000000,...,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000
max,1441.000000,1276.000000,1204.000000,1129.000000,1032.000000,965.000000,905.000000,831.000000,768.000000,704.000000,...,67.000000,59.000000,53.000000,45.000000,40.000000,29.000000,21.000000,14.000000,10.000000,2.000000